@font-face {
	font-family: normal;
	src:url(../fonts/caps.ttf);
}
@font-face {
	font-family: bold;
	src:url(../fonts/normal-bold.ttf);
}
*{
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: normal;
}


/**********************
--------Navbar--------
**********************/
.main-navbar{
    background-color: whitesmoke;
    border-bottom: 3px solid #00ace6;
}
.navbar{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1280px;
    margin: auto;
}
.main-logo{
    height: 100px;
    width: 100px;
}
.nav{
    display: flex; 
    margin-right: -15px;   
}
.nav-a{
    padding: 10px 20px;
    color: #005C7A;
    font-size: 15px;
    font-family: normal;
}
.nav-a:hover{
    text-decoration: underline;
}


/**********************
--------Hero--------
**********************/



.section-hero{
    padding: 4rem 0 !important;
    background: linear-gradient(rgba(20, 37, 56, 0.73), rgba(0, 0, 0, 0.73)), url("../image/img-2.png") center no-repeat;
    width: 100%;
    background-size: cover;
    height: auto;
    position: relative; 
    
}

.service-head{
    font-size: 25px;
    margin-bottom: 2rem;
    text-align: center;
    color: #005C7A;
}


.hero{
    display: flex;
    justify-content: space-between; 
    align-items: center;
    max-width: 1280px;
    margin: auto;
}
.no-color{
    background-color: none;
}

.hero-second-layer{
    margin-top: 4rem;
}
.hero ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(236, 236, 236);
    width: 290px;
    height: 260px;
    border-radius: 10px;
    transition: 0.5s;
    cursor: pointer;
}
.image{
    height: 100px;
    width: 100px;
    margin-bottom: 3rem;
    
}
.service-name{
    color: #1B1A1A;
    font-size: 16px;
}
/* .background-topo:hover{
    background-color: #fbff01b6;
    transition: 0.5s;
}
.background-shida:hover{
    background-color: #00b2b2b2;
    transition: 0.5s;
}
.background-sak:hover{
    background-color: #04b14cb9;
    transition: 0.5s;
}
.background-photo:hover{
    background-color: #d9383ba8;
    transition: 0.5s;
} */
.hover:hover{
    background-color: white ;
    transition: 0.5s;
    transform: scale(1.05); 
}



.contact{
    display: flex;
    align-items: center;
}

.section-contact {
   background-color: white;
   padding: 5rem 0;
   border-bottom: 3px solid #00ace6;

}
.about{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.about-image{
    width: 500px;
    height: auto;
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;
}
.about-text{
    margin-left: 50px;
    width: 400px;
    font-size: 15px;
    line-height: 30px;
    font-family: bold;
    color: #005C7A;

}


.mini-contact{
    padding-top: 2rem;
    padding-bottom: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: #005C7A;
    background-color: whitesmoke;
}

.cont-1{
    margin-right: 50px;
}

.recerv{
    
    text-align: center;
    color: #005C7A;
    margin-top: -40px;
    font-size: 13px;

}


/*---------------------
    POP-UP
---------------------*/

@-webkit-keyframes animatetop {
    from {top:-50px; opacity:0} 
    to {top:0; opacity:1}
  }
  
@keyframes animatetop {
    from {top:-50px; opacity:0}
    to {top:0; opacity:1}
}

.popup-head{
    margin: 2rem 0;
    color: #005C7A;
    text-align: center;
}



.popup-flow{
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
      
}
.description{
    line-height: 30px;
    max-width: 500px;
    text-align: justify;
    font-family: bold;
    color: #005C7A;
  }
.popup-image{
    width: 600px;
    height: auto;
    padding-left: 30px;
}

  .popup_body{
    display:none;
    position:fixed;
    top:0;left:0;right:0;bottom:0;
    -webkit-transition: 300ms;
      -moz-transition: 300ms;
      -o-transition: 300ms;
      -ms-transition: 300ms;
      transition: 300ms;

      -webkit-animation-name: animatetop;
      -webkit-animation-duration: 0.4s;
      animation-name: animatetop;
      animation-duration: 0.4s
  }
  .popup_body_show{
    display:block;
    -webkit-transition: 300ms;
      -moz-transition: 300ms;
      -o-transition: 300ms;
      -ms-transition: 300ms;
      transition: 300ms;
  }
  .popup_back{
    background: rgba(0,0,0,0.4);
    position: fixed;
    left:0;right:0;top:0;bottom:0;
  }
  .popup_contain{
    position:relative;
    background:#fff;
    min-width:300px;
    max-width:80%;
    margin:100px auto 50px;
    min-height:150px;
    padding: 10px 20px;
  }
  .popup_close{
    position: absolute;
    right: 20px;
    top: 8px;
    color: #005C7A;
    border-radius: 50%;
    cursor: pointer;
    font-size: 40px;
  }

  .services{
    padding: 10px 0;
    border-top: 2px solid #005C7A;
    border-bottom: 2px solid #005C7A;
    cursor: pointer;
    transition: 0.5s;
    color: #005C7A;
  }
  .services:hover{
    padding: 10px 10px;
    border-left: 2px solid #005C7A;
    border-right: 2px solid #005C7A;
    cursor: pointer;
    transition: 0.5s;
}

/*


--------- Second Page -----------


*/


.contact-us{
    margin: 4rem 0;
}

.contact-row{
    max-width: 1280px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.contact-row div{
    text-align: center;
}

.ion-icon{
    font-size: 20px;
    background-color: #005C7A;
    color: #fff;
    padding: 15px;
    border-radius: 50%;
    margin: 15px;
}
.map-in-row{
    max-width: 1280px;
    margin: auto;
    margin-bottom: 4rem;
}