*{
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: normal;
}

.show-down{
    color: blue;
    border: 1px solid red;
    cursor: pointer;
}

#myDIV{
    width: 100%;
    padding: 50px 0;
    text-align: center;
}