*{
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: normal;
}

.sction-navbar{
    top:0;
    position: fixed;
    width: 100%;
    background-color: white;
    height: 120px;
    border-bottom: 3px solid #00d1c7;
}
.navbar{    
    height: 80px;
    width: 100%;
}

.logo{
    width: 150px;
    height: auto;
    font-weight: bold;
    color: white;
    padding: 0 5px;
    line-height: 80px;
    margin-left: 25px;
}

.navbar a{
    color: white;
    font-size: 22px;
    text-transform: uppercase;
}
.navbar #icon{
    color: #00A199;
    font-size: 40px;
    line-height: 80px;
    float: right;
    margin-right: 40px !important;
    cursor: pointer;
    display: block;
    margin-top: 30px;
}
.navbar ul{
    padding-top: 30px;
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #00a199f1;
    margin-top: 0;    
    left: -100%;
    text-align: center;
    transition: all .5s;
}

.navbar li{
    display: block;
    padding: 25px 0;

}
.navbar ul.show{
    left: 0;
}

/*

     Section 1 small info

*/
.section-info-1{
    padding-top: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.show-down{    
    width: 100%;
    cursor: pointer;
    background-color: #00A199;
    text-align: center;
    color: cornsilk;
    padding: 5px 0 3px 0;
    font-size: 17px;
}

#myDIV{
    width: 100%;
    padding: 5px 0;
    text-align: center;
    display: none;
    background-color: #03968e;
}
.mini-info{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 5px 0;
    color: #EFFAFA;
    font-size: 20px;
}
.mini-info li {
     font-size: 17px;
}
.ion-icon-1{
    padding-right: 5px;
    color: cornsilk;
   
}
/*

     Section 1 small info END!!!!

*/

.section-main-pic{

    position: static;    
    display: flex;    
    flex-direction: column;
    background: linear-gradient(rgba(1, 21, 46, 0.63), rgba(0, 0, 0, 0.63)),url("image/main-pic-3.jpg") 
                center no-repeat;
    width: 100%;
    margin: auto;
    height: 85vh;
    background-size: cover; 
    background-attachment: fixed;
}
.hero-row{
    margin-left: 20px;
    margin-top: 3.8rem;
}
.row-1 p{
    color: #47f8ef;
    font-size: 16px;
    margin-bottom: 5px;
    font-family: normal;
}
.row-2 h1{
    font-size: 40px;
    margin-bottom: 16px;
    color: #EFFAFA;
}
.row-3{
    font-size: 15px;
    color: #EFFAFA;
}
.row-3 p{
    font-family: bold;
    color: #EFFAFA;
}

.row-4-time{
    color: #EFFAFA;
    margin-top: 5rem;
    line-height: 30px;
    font-size: 16px;
}

.row-4-time h5, .row-info{
    color: #47f8ef;
    font-size: 16px;
    font-family: bold;
}

.hero-info{
    margin-top: 3rem;
}
.hero-info div{
   display: flex;
   align-items: left;
   justify-content: left
}

.hero-info div li{
    color: white;
    text-align: left;
    font-size: 16px;
}



/*-------------------------------------------*/

.section-services{
    padding-top: 2rem;
    max-width: 90%;
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}


.main-service li{
    margin: 4rem 0;
}
.margin-low{
    margin-top: 2rem !important;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.serv-image{
    max-width: 100%;
    margin: auto;
    border: 4px solid #00A199;
    
}
.small-image{
    height: 55px;
    padding: 5px;
    border-radius: 10%;
    margin-top: -35px;
    width: auto;
    background-color: white;
}
.serv-head{
    max-width: 100%;
    margin: auto; 
    padding-top: 10px; 
    padding-bottom: 15px;  
    font-size: 25px;
    text-align: center;  
    color: #00A199;
}

.space{
    height: 5px;
    width: 40%;
    background-color: #00A199; 
    border-radius: 10px;
}

/*++++++++++++++++++++++++++++++++++++*/

.section-about{
    max-width: 100% !important;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.service-head{
    color:#00d1c7;
    padding-bottom: 10px;
}
.about{
    background: linear-gradient(rgba(1, 21, 46, 0.63), rgba(0, 0, 0, 0.63)),url("image/main-pic-3.jpg") 
                center no-repeat;
    width: 100%;
    margin: auto;
    height: auto;
    padding: 40px 0;
    background-size: cover;
    text-align: center;
    color: #EFFAFA;
    background-attachment: fixed;
}
.about-text{
    text-align: justify;
    max-width: 90%;
    margin: auto;
    padding-top: 10px;
    font-size: 15px;
}



/*------------------------*/

footer{
    width: 100%;
    background-color: rgb(41, 41, 41);
}
.footer{
    width: 90%;
    margin: auto;
}
.col-1-1{
    display: flex;
    justify-content: center;
}
.footer-image{
    width: 300px;
    height: 240px;
    display: flex;
    justify-content: center;
}
.footer-icon{
    color: #00A199;
    padding-right: 3px;
}
.footer-menu li{
    padding: 6px 0px;
    display: flex;
    align-items: center;
  
}
.footer-menu li a{
    color: #00A199;
    font-size: 20px;
}

.footer-info div{
   display: flex;
   align-items: left;
   justify-content: left;
   color: #00A199;
   font-size: 20px;
}
.footer-info div ion-icon{
    color: #00A199;
}

#customers {
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  color: #00A199;
  padding: 15px 0;
}

#customers td, #customers th {
  padding: 8px;
}



#customers tr:hover {
    background-color: rgb(70, 70, 70);
    cursor: pointer;
}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #00A199;
  color: white;
}
.reserved{
    text-align: center;
    color: #00d1c7;
    padding: 10px 0;
    font-size: 14px;
}